html,body {
    width:100%;
    height:100%;
    margin: 0;
    background: -webkit-linear-gradient(25deg, #FFBE0B,#FB5607,#FF006E,#8338EC,#3A86FF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* display: flex;
    /* align-content: center; */
    align-items: center; 
}
*{
    margin:0;
    padding:0;box-sizing: border-box;
    border: none;
    outline: none;

h1{
    font-size:30px;
    margin-bottom:60px;
    color:#3c00a0;
    position:relative;
}    
}

label {
    margin-left: 10px;
    font-weight: bold;
    
  }
#form-container{
    margin:0 auto;
    width:50%;
    height:100%;
    /* margin: 0; */
    /* background: -webkit-linear-gradient(25deg, #FFBE0B,#FB5607,#FF006E,#8338EC,#3A86FF); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* display: flex; */
    align-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    padding-top: 90px;

}
#Login-form{
    width: 100%;
    height: 100%;
    Overflow:scroll;
    background-color: transparent;
    box-shadow: 0 0 50px #000;
    border-radius: 2%;
    overflow:hidden;
    padding: 5%;
    
}
#form-header-container{
    width: 100%;
    height: 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    float:left;
    padding: 50px;
    padding-bottom: 30px;
    padding-top: 60px;

}
#form-header{
    white-space: pre-line;
    display: inline-block;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#bd-message{
    white-space: pre-line;
    display: inline-block;
    font-size:20px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#login_form{

    width: 100%;
    height: 90%;
    /* Overflow-y:scroll; */
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;


}
.input-field{
    background: white;
    margin: 10px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 40px;
    overflow: hidden;
}
input{
    width: 100%;
    height: 20px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top:20px ;
    background:white;
    font-weight: 500;
    color: #1d1b1b;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: fill;
    border: gray 50x solid

}
#button_container{
    width: 100%;
    height: 20%;
    color: #fff;
    float: left;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    
}
#signinbtn{
    width: 100%;
    height: 30px;
     /* padding: 10px 60px; */ 
    background-color: #FFBE0B;
    color: rgb(24, 24, 30);
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px
    

}
.text-login{
    font-weight: bold;
    text-align: center;
    margin-top: 100px;

}

#signoutbtn{
    width: 150px;
    height: 30px;
    /* padding: 10px 60px; */
    background-color: #FFBE0B;
    color: rgb(24, 24, 30);
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px
    

}

#signupbtn{
    width: 100%;
    height: 30px;
    /* padding: 10px 60px; */
    background-color: #FFBE0B;
    color: rgb(24, 24, 30);
    font-weight: bold;
    font-size: 16px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px

}
#signupbtn:hover{
    background-color: #d39144;
}
#signinbtn:hover{
    background-color: #d39144;
}



 
